// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.important {
  color: red;
}

.done {
  text-decoration: line-through;
}

.container {
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.container-small {
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;
}

.panel-container {
  margin-bottom: 20px;
}
